.login-container{
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    /* Optional */
    padding: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.518);
    /* Optional */
}
.buttons-style{margin-top: 30px;}

input.form-control {
    margin-bottom: 5px;
}