textarea{
    row-span: 4;
}
.glyphicon-ok-sign, .glyphicon-plus-sign{
    color: white;
    font-size: 20px;
}
.website-record{
    padding:10px 0 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.518);
    margin: 5px;
}

.ok-sign{
    margin-top:15px;
}
.top-right-icon-style{
    margin: 15px;
}
.top-right-icon-style-lg{
    margin-top: 15px;
}
.left-section{
    border-right: 1px solid #d3d3d3;
}
div.row .navbar{
    margin-bottom: 0;
}
div.navbar p{
    margin:0;
}