/* General styles for bootstrap pages with fixed navbar */
body {
    /*padding-top: 36px;*/
    font-family: 'Open Sans', sans-serif;
}
.navbar-default{
    background-color: #172435;
}

.navbar-default .navbar-brand{
    color:#e5bd1d;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover{
    color:#e5bd1d;
}

.navbar-fixed-top{
    border-width: 0 0 0;
}