.glyphicon-plus-sign{
    color: white;
}
.website-record{
    padding:10px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
}
.add-sign{
    margin-top:15px;
}
.top-right-icon-style{
    margin: 15px;
}
.widget-setings-icons{
    position: absolute;
    float: right;
    right:15px;
    top: 0;
}
.cog-style{
    padding: 5px;
    background-color: #e5bd1d;
    color: #FFFFFF;
}
.hamburger-style{
    padding: 5px;
    background-color: #e5bd1d;
    color: #FFFFFF;
}

body{
    margin-bottom: 50px;
}

.website-record .thumbnail{
    padding: 0;
}