.wbdev-widget-type-style{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.wbdev-widget-setings-icons{
    position: absolute;
    float: right;
    right:15px;
    top: 0;
}
.wbdev-cog-style{
    padding: 5px;
    background-color: #e5bd1d;
    color: #FFFFFF;
}
.wbdev-hamburger-style{
    padding: 5px;
    background-color: #e5bd1d;
    color: #FFFFFF;
}
.wbdev-widget-type-style .thumbnail{
    padding: 0;
}