<nav class="navbar navbar-default navbar-fixed-top tnn-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="fa fa-newspaper-o tnn-logo-navbar" aria-hidden="true"></i>
                The News Network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.user" class="">
                    <a href="#/user/{{model.user._id}}" class="tnn-navbar-btn">
                        <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i> {{model.user.firstName}}
                    </a>
                </li>
                <li ng-hide="model.user" class="">
                    <a href="#/" class="tnn-navbar-btn">HOME</a>
                </li>
                <li class="">
                    <a href="#/search" class="tnn-navbar-btn">
                        <span class="glyphicon glyphicon-search"></span>
                        SEARCH
                    </a>
                </li>
                <li ng-hide="model.user" class="">
                    <a href="#/login" class="tnn-navbar-btn">LOGIN</a>
                </li>
                <!--<li class="">-->
                <!--<a href="#/register" class="tnn-navbar-btn">REGISTER</a>-->
                <!--</li>-->
                <li ng-hide="model.user" class="dropdown">
                    <a href="#/"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">REGISTER<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/register/reader">Reader</a></li>
                        <li><a href="#/register/publisher">Publisher</a></li>
                    </ul>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="tnn-search-section">
        <div class="row tnn-search-div">
            <div class="col-xs-10">
                <select ng-model="model.option">
                </select>
            </div>
            <div class="col-xs-2">
                <a ng-click="model.searchNewsFromSource(model.option)"
                   class="btn btn-primary tnn-search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="row tnn-home-news">
            <div class="col-xs-12 tnn-home-news-item"
                 ng-repeat="news in model.searchNews">
                <!--<div class="row">/-->
                    <div class="col-xs-12 col-md-5 tnn-image-div tnn-home-image">
                        <a href="#" class="thumbnail">
                            <img ng-src="{{news.urlToImage}}">
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-7 tnn-search-news-title tnn-home-title">
                        <!--<div class="tnn-search-news-title">-->
                            <a ng-click="model.setLastClickedSearchDetails($index)">{{news.title}}</a>
                        <!--</div>-->
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom tnn-bar-color">
    <div class="container-fluid">
        <div class="pull-right">
            <a class="navbar-brand wbdev-margin-right-fix"
               href="https://newsapi.org/">
                API Courtesy: <i class="fa fa-newspaper-o" aria-hidden="true"></i>NewsApi</span>
            </a>
        </div>
    </div>
</nav>