<nav class="navbar navbar-default navbar-fixed-top tnn-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="fa fa-newspaper-o tnn-logo-navbar" aria-hidden="true"></i>
                The News Network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.user" class="">
                    <a href="#/user/{{model.user._id}}" class="tnn-navbar-btn">
                        <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i>
                    </a>
                </li>
                <li ng-hide="model.user" class="">
                    <a href="#/" class="tnn-navbar-btn">HOME</a>
                </li>
                <li class="">
                    <a href="#/search" class="tnn-navbar-btn">SEARCH</a>
                </li>
                <li ng-hide="model.user" class="">
                    <a href="#/login" class="tnn-navbar-btn">LOGIN</a>
                </li>
                <!--<li class="">-->
                    <!--<a href="#/register" class="tnn-navbar-btn">REGISTER</a>-->
                <!--</li>-->
                <li ng-hide="model.user" class="dropdown">
                    <a href="#/"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">REGISTER<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/register/reader">Reader</a></li>
                        <li><a href="#/register/publisher">Publisher</a></li>
                    </ul>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row alert alert-danger alert-dismissible fade in" role="alert" ng-show="model.unauthorized">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <p>{{model.unauthorized}}</p>
        <p>
            <a href="#/register/reader" class="btn btn-success">
                Register
            </a>
            <a href="#/login" class="btn btn-primary">
                Login
            </a>
        </p>
    </div>

    <div class="row">
        <div class="col-xs-12 tnn-news-search-item">
            <div class="tnn-article-options">
                <a ng-show="model.unsaved"
                    ng-click="model.saveArticle(model.detailsForNews)"
                    class="btn btn-default tnn-bookmark-icon">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </a>
                <span ng-show="model.saved" class="label label-success">Saved</span>
                <!--<a ng-show="model.saved"-->
                   <!--ng-click="model.saveArticle(model.detailsForNews)"-->
                   <!--class="btn btn-default tnn-bookmark-icon">-->
                    <!--<i class="fa fa-bookmark" aria-hidden="true"></i>-->
                <!--</a>-->
                <a class="btn btn-default">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                </a>
            </div>

            <div class="tnn-news-title">
                <h4>
                {{model.detailsForNews.title}}
                </h4>
            </div>
            <img class="img-responsive" ng-src="{{model.detailsForNews.urlToImage}}" width="100%">
            <div class="tnn-news-description">
                <h4>
                    {{model.detailsForNews.description}}
                </h4>
            </div>
            <div ng-show="model.detailsForNews.author" class="tnn-news-author">
                Author: {{model.detailsForNews.author}}
            </div>
            <div class="tnn-news-source col">
                <a href="{{model.detailsForNews.url}}"> Source </a>
            </div>
            <div class="tnn-news-date col">
                Date of publishing: {{model.detailsForNews.publishedAt}}
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom tnn-bar-color">
    <div class="container-fluid">
        <div class="pull-right">
            <a class="navbar-brand"
               href="https://newsapi.org/">
                API Courtesy: <i class="fa fa-newspaper-o" aria-hidden="true"></i>NewsApi</span>
            </a>
        </div>
    </div>
</nav>
