<nav class="navbar navbar-default navbar-fixed-top tnn-bar-color">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="fa fa-newspaper-o tnn-logo-navbar" aria-hidden="true"></i>
                The News Network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a class="" href="#/user/{{model.currentUser._id}}">
                        <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i>
                        {{model.currentUser.firstName}}
                    </a>
                </li>
                <li class="">
                    <a class=""
                       href="#/search">
                        <span class="glyphicon glyphicon-search"></span> SEARCH
                    </a>
                </li>
                <li class="">
                    <a class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row tnn-news-item-section">
        <div ng-show="model.deleteSuccess && model.currentUser.role == 'PUBLISHER'"
             class="alert alert-success">
            <i class="fa fa-check-square tnn-bookmark-icon" aria-hidden="true"></i> {{model.deleteSuccess}}
        </div>

        <div ng-show="model.article"
            class="col-xs-12 tnn-news-search-item">

            <!--<div ng-show="model.currentUser.role == 'READER'" class="tnn-article-options">-->
                <!--<a ng-show="!model.saved"-->
                   <!--ng-click="model.bookmarkArticleById(model.article._id)"-->
                   <!--class="btn btn-default tnn-bookmark-icon">-->
                    <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
                <!--</a>-->
                <!--&lt;!&ndash;<span ng-show="model.saved" class="label label-success">Saved</span>&ndash;&gt;-->
                <!--<a ng-show="model.saved"-->
                   <!--ng-click="model.removeBookmark(model.article._id)"-->
                   <!--class="btn btn-default tnn-bookmark-icon">-->
                    <!--<i class="fa fa-bookmark" aria-hidden="true"></i>-->
                <!--</a>-->
            <!--</div>-->

            <!--<div class="tnn-saved-label">-->
                <!--<span ng-show="model.saved" class="label label-success">Saved</span>-->
            <!--</div>-->
            <div ng-show="model.article._user"
                 class="tnn-publisher-organization-label">
                <span class="label label-info">Published by {{model.article._user.organization}}</span>
            </div>
            <div class="tnn-news-title">
                <h4>
                    {{model.article.title}}
                </h4>
            </div>
            <div class="tnn-news-image-section">
                <img class="img-responsive" ng-src="{{model.article.urlToImage}}" width="100%">
            </div>
            <div class="tnn-news-description">
                <h4>
                    {{model.article.description}}
                </h4>
            </div>
            <div ng-show="model.article.author" class="tnn-news-author">
                Author: {{model.article.author}}
            </div>
            <div ng-show="model.article.url"
                 class="tnn-news-source ">
                <a href="{{model.article.url}}"> Source </a>
            </div>
            <div ng-show="model.article._user"
                 class="tnn-news-date">
                Date of publishing: {{model.article.createdAt}}
            </div>
            <div ng-show="model.article.publishedAt"
                 class="tnn-news-date col">
                Date of publishing: {{model.article.publishedAt}}
            </div>
            <div ng-show="model.currentUser.role == 'PUBLISHER' && model.articleByPublisher" class="tnn-news-forget-div">
                <a ng-click="model.removeArticle(model.article._id)" class="btn btn-danger btn-block">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>

            <div ng-show="model.currentUser.role == 'READER'">
                <a ng-show="!model.saved"
                   ng-click="model.bookmarkArticleById(model.article._id)"
                   class="btn btn-success btn-block">
                    <i class="fa fa-bookmark-o tnn-bookmark-icon" aria-hidden="true"></i> SAVE
                </a>
                <a ng-show="model.saved"
                   ng-click="model.removeBookmark(model.article._id)"
                   class="btn btn-danger btn-block">
                    <i class="fa fa-bookmark tnn-bookmark-icon" aria-hidden="true"></i> REMOVE FROM SAVED
                </a>
            </div>

            <!-- Comments section -->
            <div class="tnn-news-comments-section">
                <div class="tnn-comments-heading">Comments</div>

                <div ng-show="model.blankCommentError"
                     class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p>{{model.blankCommentError}}</p>
                </div>
                <div class="row tnn-comment-box">
                    <div class="col-xs-12">
                        <div class="input-group add-on">
                            <input  ng-keyup="$event.keyCode == 13 && model.submitComment(model.comment)"
                                    class="form-control tnn-form-control"
                                    placeholder="Enter your comment here"
                                    type="text"
                                    ng-model="model.comment.text"/>
                            <div class="input-group-btn tnn-comment-send-div">
                                <a  ng-click="model.submitComment(model.comment)"
                                    class="btn btn-success"
                                    title="Post a comment">
                                    <i class="glyphicon glyphicon-send"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tnn-news-comments-display"
                 ng-repeat="comment in model.article.comments">

                <div ng-show="model.currentUser.role == 'ADMIN'">
                    <!--Admin should not able to visit other profiles, follow or subscribe to people-->
                    {{comment._user.firstName+" "+comment._user.lastName}}
                    {{comment.comment}}
                </div>
                <div ng-show="model.currentUser.role != 'ADMIN'">
                    <a title="Posted at {{comment.createdAt}}"
                       href="#/user/{{comment._user._id}}">
                        {{comment._user.firstName+" "+comment._user.lastName}}
                    </a>
                    {{comment.comment}}
                </div>

                <div ng-show="comment._user._id == model.currentUser._id"
                     class="tnn-comment-delete">
                    <a ng-click="model.deleteComment(comment._id)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Delete Comment
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom tnn-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               href="#/user/{{model.currentUser._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>