<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="pull-right wbdev-margin-right-fix">
                <a class="navbar-brand"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
            </div>
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="pull-right wbdev-margin-right-fix">
                <a class="navbar-brand"
                   ng-click="model.addNewPage(page)">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand visible-xs wbdev-margin-left-fix"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand wbdev-margin-left-fix">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div ng-show="model.error"
             class="alert alert-warning text-center wbdev-empty-form-margin"
             role="alert">
            {{model.error}}
        </div>
        <div class="row wbdev-page-list-record"
             ng-repeat="page in model.pages">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
               class="col-xs-10">
                {{page.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
               class="col-xs-2 text-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

    </div>
    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <div ng-show="model.blankerror"
             class="alert alert-danger text-center wbdev-form-padding"
             role="alert"> {{model.blankerror}}
        </div>
        <form method="POST"
              class="wbdev-form-padding">
            <div class="form-group">
                <label for="pname">Name</label>
                <input type="text"
                       class="form-control"
                       id="pname"
                       placeholder="Page Name"
                       ng-model="page.name">
            </div>
            <div class="form-group">
                <label for="pdesc">Description</label>
                <input type="text"
                       class="form-control"
                       id="pdesc"
                       placeholder="Page Description"
                       ng-model="page.description"></textarea>
            </div>
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>