<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand wbdev-margin-left-fix">Pages</a>
        </div>
    </div>
</nav>
<div class="container-fluid wbdev-container-side-space-fix">
    <div ng-show="model.error" class="alert alert-warning text-center" role="alert"> {{model.error}}</div>
    <div class="row wbdev-page-list-record"
         ng-repeat="page in model.pages">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
           class="col-xs-10">
            {{page.name}}
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>