<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-brand pull-right wbdev-margin-right-fix">
            <a href="page-new.view.client.html">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="../website/website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand wbdev-margin-left-fix">Pages</a>
        </div>
    </div>
</nav>
<div class="container-fluid wbdev-container-side-space-fix">
    <div class="row wbdev-page-list-record">
        <a href="../widget/widget-list.view.client.html"
           class="col-xs-10">
            Blog post
        </a>
        <a href="page-edit.view.client.html"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="row wbdev-page-list-record">
        <a href="../widget/widget-list.view.client.html"
           class="col-xs-10">
            Blogs
        </a>
        <a href="page-edit.view.client.html"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="row wbdev-page-list-record">
        <a href="../widget/widget-list.view.client.html"
           class="col-xs-10">
            Home
        </a>
        <a href="page-edit.view.client.html"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="row wbdev-page-list-record">
        <a href="../widget/widget-list.view.client.html"
           class="col-xs-10">
            About
        </a>
        <a href="page-edit.view.client.html"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="row wbdev-page-list-record">
        <a href="../widget/widget-list.view.client.html"
           class="col-xs-10">
            Contact us
        </a>
        <a href="page-edit.view.client.html"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-brand pull-right wbdev-margin-right-fix">
            <a href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>