<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok-sign"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand wbdev-margin-left-fix"> Widget Edit </a>
        </div>
    </div>
</nav>

<div class="container-fluid wbdev-container-side-space-fix">
    <div class="row">
        <div class="col-xs-12">
            <div ng-switch="model.widget.widgetType">
                <div ng-switch-when="HEADER">
                    <ng-include src="'views/widget/templates/editors/widget-heading.view.client.html'"/>
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/templates/editors/widget-youtube.view.client.html'"/>
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/editors/widget-image.view.client.html'"/>
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/templates/editors/widget-html.view.client.html'"/>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>