<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand wbdev-margin-left-fix">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid wbdev-container-side-space-fix">
    <div class="row">
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createHeaderWidget(1)">
                Header 1
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createHeaderWidget(2)">
                Header 2
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createHeaderWidget(3)">
                Header 3
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createHeaderWidget(4)">
                Header 4
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createYoutubeWidget()">
                Youtube
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createImageWidget()">
                Image
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a ng-click="model.createHTMLWidget()">
                HTML
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Label
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Text Input
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Link
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Button
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Data Table
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Repeater
            </a>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right wbdev-margin-right-fix">
            <a class="navbar-brand"
               href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
