<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-header">
            <a class="navbar-brand">CS5610 Assignments</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row wbdev-registration-container">
        <div class="col-xs-12">
            <h3>Register</h3>
            <form action="#!/register"
                  method="POST">
                <div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text"
                               class="form-control"
                               id="password"
                               placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <label for="vpassword">Verify Password</label>
                        <input type="text"
                               class="form-control"
                               id="vpassword"
                               placeholder="Verify Password"/>
                    </div>
                </div>
                <div class="wbdev-buttons-style">
                    <a class="btn btn-success btn-block"
                       href="#!/register">Register</a>
                    <a class="btn btn-danger  btn-block"
                       href="#!/login">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>