<div ng-show="model.updateerror"
     class="alert alert-danger"
     role="alert">
    <span class="fa fa-warning"></span>
    {{model.updateerror}}
</div>
<form name="form"
      novalidate>
    <div class="form-group">
        <div ng-model="model.widget.text"
             text-angular
             required="required"
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
                ['bold','italics','underline','strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                ['indent','outdent'],['html', 'insertImage','insertLink', 'wordcount', 'charcount']]">
        </div>
    </div>
</form>
<a class="form-control btn btn-danger"
   ng-click="model.deleteWidget(model.widget._id)">
    Delete
</a>