<div ng-show="model.updateerror"
     class="alert alert-warning text-center"
     role="alert">
    {{model.updateerror}}
</div>

Text
<input ng-model="model.widget.text"
       class="form-control"/>
Rows
<input ng-model="model.widget.rows"
       class="form-control"
       type="number"/>
Placeholder
<input ng-model="model.widget.placeholder"
       class="form-control"/>
<div class="checkbox">
    <label>
        <input type="checkbox"
               ng-model="model.widget.formatted"> Formatted
    </label>
</div>
<!--<input ng-model="model.widget.formatted"-->
<!--type="checkbox"-->
<!--class="form-control"/>-->
