<nav class="navbar navbar-default navbar-fixed-top wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-header">
            <a class="navbar-brand" href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand wbdev-margin-left-fix">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid wbdev-container-side-space-fix">
    <div class="row">
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a href="widget-heading.view.client.html">
                Header 1
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a href="widget-heading.view.client.html">
                Header 3
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a href="widget-youtube.view.client.html">
                Youtube
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a href="widget-image.view.client.html">
                Image
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Label
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                HTML
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Text Input
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Link
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Button
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Data Table
            </a>
        </div>
        <div class="col-xs-12 wbdev-widget-chooser-record">
            <a>
                Repeater
            </a>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom wbdev-bar-color">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-brand pull-right wbdev-margin-right-fix">
            <a href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
