<form action="widget-heading.view.client.html"
      method="POST">
    <div ng-show="model.updateerror" class="alert alert-warning text-center" role="alert"> {{model.updateerror}}</div>
    <div class="form-group">
        <label for="inputname">Name</label>
        <input type="text"
               class="form-control"
               id="inputname"
               ng-model="model.widget.text"
               placeholder="">
    </div>
    <!--<div class="form-group">-->
        <!--<label for="inputtext">Text</label>-->
        <!--<input type="text"-->
               <!--id="inputtext"-->
               <!--class="form-control"-->
               <!--value="US Senate reaches compromise on Russia"/>-->
    <!--</div>-->
    <div class="form-group">
        <label for="inputsize">Size</label>
        <input type="text"
               id="inputsize"
               class="form-control"
               ng-model="model.widget.size"/>
    </div>
    <a class="form-control btn btn-danger"
       ng-click="model.deleteWidget()">
        Delete
    </a>
</form>