<nav class="navbar navbar-default navbar-fixed-top tnn-bar-color">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <i class="fa fa-newspaper-o tnn-logo-navbar" aria-hidden="true"></i>
            The News Network</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="model.user" class="">
                <a href="#/user/{{model.user._id}}" class="tnn-navbar-btn">
                    <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i> {{model.user.firstName}}
                </a>
            </li>
            <li ng-hide="model.user" class="">
                <a href="#/" class="tnn-navbar-btn">HOME</a>
            </li>
            <li class="">
                <a href="https://docs.google.com/document/d/1CpexP2Op_X-j9OuUoz16FyMMvMHatdO74FJSNvOf0sQ/edit?usp=sharing"
                   target="_blank"
                   class="tnn-navbar-btn">DOCUMENTATION</a>
            </li>
            <li class="">
                <a href="https://www.youtube.com/watch?v=JyxhGWtM9iU"
                   target="_blank"
                   class="tnn-navbar-btn">
                    DEMO</a>
            </li>
            <li class="">
                <a href="#/search" class="tnn-navbar-btn">
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                    SEARCH
                </a>
            </li>
            <li ng-hide="model.user" class="">
                <a href="#/login" class="tnn-navbar-btn">LOGIN</a>
            </li>
            <li class="">
                <a href="#/register" class="tnn-navbar-btn">REGISTER</a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
</nav>
<div class="container-fluid">
    <div class="row tnn-login-container">
        <div class="col-xs-12">
            <h3><i class="fa fa-sign-in tnn-bookmark-icon" aria-hidden="true"></i>Login</h3>
            <form method="POST" name="form" novalidate>
                <div class="alert alert-danger alert-dismissible fade in"
                     ng-show="!form.$valid && !form.$submitted && form.username.$touched && form.password.$touched"
                     role="alert">
                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Please enter your username and password</p>
                </div>

                <div ng-show="model.error" class="alert alert-danger" role="alert"> {{model.error}}</div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                           ng-model="model.user.username"
                           class="form-control"
                           id="username"
                           name="username"
                           placeholder="Username"
                           required/>

                    <div ng-show="form.$submitted || form.username.$touched">
                        <div ng-show="form.username.$error.required" class="text-danger">
                            Please enter your username
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           ng-model="model.user.password"
                           class="form-control"
                           id="password"
                           required
                           name="password"
                           placeholder="Password"/>
                    <div ng-show="form.$submitted || form.password.$touched">
                        <div ng-show="form.password.$error.required" class="text-danger">
                            Please enter your password
                        </div>
                    </div>

                </div>
                <div class="wbdev-buttons-style">
                    <a class="btn btn-primary btn-block"
                       ng-click="form.$valid && model.login(model.user)">Login</a>
                    <a href="/auth/facebook" class="btn btn-info btn-block">
                        <span class="fa fa-facebook"></span> Login with Facebook
                    </a>
                    <a href="/auth/google" class="btn btn-danger btn-block">
                        <span class="fa fa-google-plus"></span> Login with Google
                    </a>
                    <a href="#/register/reader" class="btn btn-success btn-block">
                        <i class="fa fa-newspaper-o tnn-bookmark-icon" aria-hidden="true"></i>Register
                    </a>
                    <!--<a href="#/register/reader" class="btn btn-success btn-block">-->
                        <!--<i class="fa fa-newspaper-o tnn-bookmark-icon" aria-hidden="true"></i>Register as reader-->
                    <!--</a>-->
                    <!--<a href="#/register/publisher" class="btn btn-success btn-block">-->
                        <!--<i class="fa fa-pencil-square tnn-bookmark-icon" aria-hidden="true"></i> Register as publisher-->
                    <!--</a>-->
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom tnn-bar-color">
    <div class="container-fluid">
        <div class="pull-right">
            <a class="navbar-brand wbdev-margin-right-fix"
               href="https://newsapi.org/">
                API Courtesy: <i class="fa fa-newspaper-o" aria-hidden="true"></i>NewsApi</span>
            </a>
        </div>
    </div>
</nav>