<nav class="navbar navbar-default navbar-fixed-top tnn-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="fa fa-newspaper-o tnn-logo-navbar" aria-hidden="true"></i>
                The News Network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#/" class="tnn-navbar-btn">HOME</a>
                </li>
                <li class="">
                    <a href="#/search" class="tnn-navbar-btn">SEARCH</a>
                </li>
                <li class="">
                    <a href="#/login" class="tnn-navbar-btn">LOGIN</a>
                </li>
                <li class="">
                    <a href="#/register" class="tnn-navbar-btn">REGISTER</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row tnn-welcome-message">
        <div class="col-xs-12">
            <div class="tnn-welcome-header"> Welcome readers and publishers</div>
            <div class="text-center">
                We live in a world where news content is created faster than ever before. The News Network aims to be a central platform for a reader
                who wants to save news articles to read later, share and comment on news, subscribe to various publishers and personalize the news
                that appear on his/her feed. The News Network also provides a platform for publishers to build a userbase and deliver news straight
                to the newsfeed of a subscriber
            </div>
        </div>
    </div>
    <div class="row tnn-home-news">
        <div class="col-xs-12 tnn-home-news-item"
             ng-repeat="news in model.homenews">
            <div class="tnn-news-title">
                {{news.title}}
            </div>
            <img class="img-responsive" src="{{news.urlToImage}}">
            <div class="tnn-news-description">
                {{news.description}}
            </div>
            <div class="tnn-news-author">
                Author: {{news.author}}
            </div>
            <div class="tnn-news-source">
                <a href="{{news.url}}"> Source </a>
            </div>
        </div>
    </div>
</div>